.btn {
  display: inline-block;
  margin-right:10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-s {
  display: inline-block;
  margin-right:10px;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-warn {
  background: hsl(358, 79%, 65%);
  color: #fff;
}
.btn-warn:hover {
  background: hsl(358, 85%, 60%);
}
.btn-warn-s {
  border: 1px solid hsl(358, 85%, 60%);
  color: #000;
}
.btn-warn-s:hover {
  background: #FEF0F0;
}
.btn-primary {
  background: #2FA0F0;
  color: #fff;
}
.btn-primary:hover {
  background: #2790DA;
}
.btn-primary-s {
  border: 1px solid #2FA0F0;
}
.btn-primary-s:hover {
  background:#F0F6FA
}
.btn-success {
  background: hsl(118, 48%, 64%);
  color: #fff
}
.btn-success:hover {
  background: #5AA253;
}
.clearfix::after{
  display: block;
  height: 0;
  content:'';
  clear: both;
}
.bottom-line{
  position: relative;
}
.bottom-line:hover,
.bottom-line.select{
  border-bottom-color:#222;
}

.bottom-line:hover::before,
.bottom-line.select::before{
  transform: scaleX(1);
  visibility: visible;
}

.bottom-line::before{
  content: "";
  position: absolute;
  width: calc(100% + 10px );
  height: 2px;
  bottom: -3px;
  left: -5px;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.string-list>span:not(:last-child)::after{
  content: ','
}
a{
  color: #222;
}
